<div id="issuebox">
  <div id="yourerrants"><p id="yourerrantstext">Dina Ärenden</p></div>
  <div id="nameoferrant"></div>
  <div id="issueselector">
    <% for issue in @issues %>
    <div class="issue">
      <p id="issuetext"><%= issue.name %></p>
    </div>
    <% end %>
  </div>
  <div id="selectedissue"></div>
</div>