<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/layout.css" type="text/css"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>
<body>
<div id="container">
  <div id="start_page_loga"></div>
  <div><p id="name_text">Ärendehantering</p></div>
  <div id="login">
    <form action="/login" method="post">
      <div id="loginrutor" class="mdl-textfield mdl-js-textfield">
        <input name="mail" type="text" placeholder="email" id="usernameinput" class="mdl-textfield__input">
        <input name="password" type="password" placeholder="password" id="passwordinput" class="mdl-textfield__input">
      </div>
      <button type="submit" id="loggainknapp"><p id="loggain_text">Logga In</p></button>
    </form>
    <a href="/"><div id="avbrytknapp"><p id="loggain_text">Avbryt</p></div></a>
  </div>
</div>
</body>