* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #EEE;;
}

#header {
    margin-left: auto;
    margin-right: auto;
    height: 65px;
    width: 100%;
    -webkit-box-shadow: 2px 7px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 7px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 2px 7px 24px 0px rgba(0,0,0,0.64);
    background-color: #3F51B5;
}

#headeritems {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;

}

#headerloga {
    float: left;
    height: 65px;
    width: 65px;
    background-image: url("/img/images/ITG_statement_vit_frame.svg");
}

#issues {
    float: left;
    height: 65px;
    width: 130px;
}

#fmltext {
    margin-top: 20px;
}

#issues:hover {
    background-color: #303F9F;
}

#knowledge_base {
    float: left;
    height: 65px;
    width: 130px;
}

#knowledge_base:hover {
    background-color: #303F9F;
}

#loginstatus {
    float: right;
    height: 65px;
    width: 130px;
}

.headertext {
    margin-top: 7px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.issue-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 536px;
    width: 1070px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    background-color: white;
}

#the-issues{
    float: left;
    height: 436px;
    width: 265px;
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #424242;
}

#issueselector {
    float: left;
    height: 351px;
    width: 265px;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: white;
}

.slides {
    float: left;
    position: relative;
    height: 436px;
    width: 804px;
    overflow-y: scroll;
    background-color: white;
}

.beskrivnings-div, .meddelande-div {
    float: left;
    width: 787px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #727272;
}

.meddelande-text {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.description {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

#yourerrants {
    float: left;
    height: 100px;
    width: 265px;
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #424242;
    background-color: #3F51B5;
}

#yourerrantstext {
    margin-top: 35px;
    text-align: center;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.issue {
    float: left;
    line-height: 80px;
    height: 80px;
    width: 265px;
}

.issue:hover {
    background-color: #B6B6B6;
}

#issuetext {
    margin-top: 24px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

#nameoferrant {
    float: left;
    height: 100px;
    width: 804px;
    background-color: #3F51B5;
}

.container {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 530px;
    background-color: #3F51B5;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    padding-top: 50px;
    overflow-y: inherit;
}

#start_page_loga {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 185px;
    width: 185px;
    background-repeat: no-repeat;
    background-image: url("/img/images/ITG_statement_vit_frame.svg");
}

#name_text {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#loggain {
    float: left;
    height: 140px;
    width: 200px;
    background-color: #4CAF50;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 50px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
}

#vanligaproblem {
    float: left;
    height: 140px;
    width: 200px;
    background-color: #4CAF50;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 150px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
}

#loggain_text {
    text-align: center;
    font-size: 26px;
    line-height: 140px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#vanligaproblem_text {
    text-align: center;
    font-size: 24px;
    line-height: 140px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#loggain:hover {
    background-color: #3e8e41;
    -webkit-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
}

#vanligaproblem:hover{
    background-color: #3e8e41;
    -webkit-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
}

#loggainknapp {
    float: left;
    height: 140px;
    width: 200px;
    background-color: #4CAF50;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 50px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
}

#loggainknapp:hover {
    background-color: #3e8e41;
    -webkit-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
}

#avbrytknapp {
    float: left;
    height: 140px;
    width: 200px;
    background-color: #4CAF50;
    margin-top: 40px;
    margin-right: 50px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
}

#avbrytknapp:hover{
    background-color: #3e8e41;
    -webkit-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
}

#usernameinput {
    float: left;
    height: 20px;
    width: 180px;
    margin-top: 60px;
    color: #FFFFFF;
}

#passwordinput {
    float: left;
    height: 20px;
    width: 180px;
    margin-top: 10px;
    color: #FFFFFF;
}

#loginrutor {
    float: left;
    width: 100px;
    height: 80px;
    margin-left: 50px;
}

#loggautknapp {
    float: right;
    height: 65px;
    width: 140px;
    background-color: #4CAF50;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
}

#loggaut_text {
    text-align: center;
    font-size: 20px;
    line-height: 65px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#loggautknapp:hover {
    background-color: #3e8e41;
}

#problem_titel {
    color: #FFFFFF;
    text-align: center;
    margin-top: -15px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

#problem {
    height: 1000px;
    list-style-type: none;
}

.problem_container {
    float: left;
    margin-left: 100px;
    margin-right: 0px;
    height: 60px;
    width: 600px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #424242;
    background-color: #FFFFFF;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);

}

.problem_container:hover {
    background-color: #B6B6B6;
}

#problemtext {
    color: #000000;
    text-align: start;
    font-size: 30px;
    margin: 5px;
}

.beskrivning {
    margin: 5px;
    color: #727272;
    font-family: 'Roboto', sans-serif;
}

#beskrivnings-ruta {
    resize: none;
    height: 200px;
}

#edit {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    background-image: url("/img/images/trashcan.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


.slides:first-of-type {
    display: block !important;
}

.slides:not(:first-child) {
    display: none;
}

.errant-name-text{
    display: none;
    text-align: center;
    margin-top: 35px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#new-issue {
    float: left;
    width: 265px;
    height: 85px;
    background-color: #4CAF50;
}

#new-issue-text {
    text-align: center;
    font-size: 25px;
    line-height: 85px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#new-issue:hover {
    background-color: #3e8e41;
}

.new-message {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 265px;
    height: 85px;
    background-color: #4CAF50;
}

#new-message-text {
    text-align: center;
    font-size: 25px;
    line-height: 85px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.new-message:hover {
    background-color: #3e8e41;
}

.message-box {
    position: absolute;
    width: 500px;
    height: 250px;
    bottom: 0;
    right: 0;
    display: none;
}

#message-box-header {
    float: left;
    width: 500px;
    height: 30px;
    background-color: #3F51B5;
    margin-bottom: 0;
}

#message-box-header-text {
    float: left;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    margin-left: 5px;
    /*line-height: 30px;*/
    margin-bottom: 0px;
    width: 200px;
}

.kryss {
    float: right;
    height: 30px;
    width: 30px;
    background-image: url("/img/images/kryss.svg");
    background-repeat: no-repeat;
}

#meddelande-ruta {
    margin-top: 0;
    float: left;
    resize: none;
    width: 498px;
    height: 190px;
    font-family: 'Roboto', sans-serif;
}

#message-box-footer {
    float: left;
    width: 500px;
    height: 30px;
    background-color: #3F51B5;
    margin-bottom: 0;
}

#send-message {
    float: left;
    background-color: #4CAF50;
    height: 30px;
    width: 70px;
}

#send-message-text {
    color: #EEEEEE;
}

#attachment-icon {
    float: left;
    height: 30px;
    width: 30px;
    background-image: url("/img/images/attachment.svg");
    background-repeat: no-repeat;
}

#fuling {
    display: none;
}

#new-issue-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 536px;
    width: 1070px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    background-color: white;
}

#headerthingy {
    height: 100px;
    width: 1070px;
    background-color: #3F51B5;
}

#headerthingy-text {
    text-align: center;
    line-height: 100px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#subject {
    float: left;
    width: 300px;
    height: 30px;
    margin: 50px;
}

.create-issue-text{
    float: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#subject-input {
    float: left;
    margin-left: 10px;
    width: 200px;
    height: 20px;
}

#kategori {
    float: left;
    margin: 50px;
}

#kategori-picker {
    margin-left: 10px;
    height: 25px;
    width: 120px;
}

#beskrivnings-container {
    width: 500px;
}

#beskrivnings-ruta {
    float: left;
    width: 500px;
}

#description-div {
    /*TODO: Fix relational positioning*/
    width: 500px;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 0px;
}

.status-text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.button {
    float: left;
    height: 140px;
    width: 200px;
    background-color: #4CAF50;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.64);
}

.button:hover {
    background-color: #3e8e41;
    -webkit-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
}

.issue-sorter {
    height: 100px;
    width: 265px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #424242;
    -webkit-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0);
    -moz-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0);
    box-shadow: 11px 11px 5px 0px rgba(0,0,0,0);
}

.issue-sorter:hover {
    -webkit-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0);
    -moz-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0);
    box-shadow: 11px 11px 5px 0px rgba(0,0,0,0);
}

.button-text {
    text-align: center;
    font-size: 26px;
    line-height: 140px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.issue-sorter-text {
    line-height: 100px;
}

#kategori-admins {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#kategori-picker-admin {
    margin-left: 10px;
    height: 25px;
    width: 120px;
}

.errant-list {
    float: left;
    height: 396px;
    width: 804px;
    overflow-y: scroll;
}

.errant-list-name {
    text-align: center;
    margin-top: 35px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#issue-info {
    float: left;
    height: 39px;
    width: 804px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #424242;
}

.errant-list-item {
    float: left;
    width: 787px;
    height: 29px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #424242;
}

.errant-list-item:hover {
    background-color: #B6B6B6;
}

.errant-list-item-text {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 30px;
    color: #000000;
}

#errant-list-item-name {
    width: 160px;
}

#errant-list-item-category {
    width: 120px;
}

#errant-list-item-user {
    width: 160px;
}

#errant-list-item-date {
    width: 160px;
}

.issue-info-text {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
}

#issue-info-text-subject {
    width: 160px;
}

#issue-info-text-category {
    width: 120px;
}

#issue-info-text-user {
    width: 160px;
}

#issue-info-text-created {
    width: 160px;
}

#issue-container-header {
    height: 100px;
    width: 1070px;
    background-color: #3F51B5;
}

#issue-name-displayed {
    display: block;
    line-height: 100px;
    margin-top: 0;
}

#dialog-ruta {
    float: left;
    position: relative;
    height: 436px;
    width: 804px;
    overflow-y: scroll;
    background-color: white;
}

#message-box {
    position: absolute;
    width: 500px;
    height: 250px;
    bottom: 0;
    right: 0;
    display: none;
}

#info-ruta {
    float: left;
    position: relative;
    width: 265px;
    height: 436px;
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #727272;
}

#user {
    width: 265px;
    height: 400px;
}

#users-text {
    float: left;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 30px;
}

#user-text {
    float: left;
    font-size: 17px;
    text-align: center;
    margin-left: 10px;
}

.modify-status {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 265px;
    height: 85px;
    background-color: #4CAF50;
}

.modify-status:hover {
    background-color: #3e8e41;
}

#assign-issue-text {
    text-align: center;
    font-size: 25px;
    line-height: 85px;
    color: #FFFFFF;
}